body {
  background-color: #263238;
  color: white;
}

.adverb {
  background: #c4e3f3;
  color: black;
}

.qualifier {
  background: #c4e3f3;
  color: black;
}

.passive {
  background: #c4ed9d;
  color: black;
}

.complex {
  background: #e3b7e8;
  color: black;
}

.hardSentence {
  background: #f7ecb5;
  color: black;
}

.veryHardSentence {
  background: #e4b9b9;
  color: black;
}

#text-area,
#output {
  width: 80%;
  background-color: #263238;
  color: white;
  font-size: 14px;
}

#left {
  width: 65%;
  position: absolute;
  left: 1%;
}
#right {
  width: 45%;
  position: absolute;
  right: 1%;
}

.counter {
  width: 75%;
  position: relative;
  padding: 1% 1%;
  margin: 1% 0 0 1%;
  border-radius: 8px;
}
